<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.png" sizes="32x32">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "American Community Survey: Portland, OR" %></title>
    <script type="text/javascript">
      __datafiles = <%= Pathname.glob("#{root}/source/data/*.{csv,json}").map { |f| f.basename.to_s } %>
    </script>

    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "vendor", "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <h1>American Community Survey: Portland, OR</h1>
    </header>
    <%= yield %>
    <footer>
      <span class="info">
        <span class="key"></span>
        = max
      </span>
      <span class="credit">A <a href="https://github.com/Caged/portland-census">civic experiment</a> &copy; 2013 <a href="http://twitter.com/caged">Justin Palmer</a>.</span>
    </footer>
  </body>
</html>